body{
    margin: 1em;
}
textarea{
    width: calc(100% - 0.5em);
    font-family: monospace;
}
button{
    margin-right: 10px;
    cursor: pointer;
}
label{
    display: block;
}
@media screen and (prefers-color-scheme: dark){
    body{
        background-color: #111111;
        color: #ffffff;
    }
    select,
    button,
    textarea{
        background-color: #222222;
        color: #ffffff;
    }
    select[disabled],
    button[disabled],
    textarea[disabled]{
        background-color: #444444;
        color: #dddddd;
    }
}
