#myModal{
    padding: 10px;
}
textarea{
    width: 100%;
    font-family: monospace;
}
button{
    margin-right: 10px;
    cursor: pointer;
}
label{
    display: block;
}
@media screen and (prefers-color-scheme: dark){
    html{
        background-color: #111111;
        color: #ffffff;
    }
}
